<section class="archive">
            <main class="post">
               <% page.posts.each(function (post) { %>
                 <p>
                 <i class="fa fa-star-half-o"></i>
                 <a class="archive-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
                 <span class="archive-date"><%= date(post.date, "YYYY-MM-DD") %></span>		    	 
    <% }) %>
            </main>
        
</section>
<%- partial('_partial/paginator') %>
