<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="page-end col-md-12">
                <p class="copyright">
                    Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author %> 
				</br>
                    <span>Powered By <a href="https://hexo.io/" target="blank">Hexo</a></span>&nbsp;&nbsp;&nbsp;&nbsp;<span>Theme  <a href="https://github.com/buppt" target="blank">BUPPT</a></span>
                </p>
            </div>
        </div>
    </div>
</footer>


